
.item1 { grid-area: header; } 
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: nav;}

.grid-container {
  display: grid;
  grid-template-areas:
    'nav header header header header header'
    'menu main main main main main'
    'menu main main main main main';
  gap: 4px;
  background-color: rgba(255, 255, 0, 0.39);
  padding: 10px;}

  

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px; }


  p{ font-family:'Roboto', sans-serif;
    color: black;
   font-weight: bold;
   border: 1px solid black;
   margin: 30px;
   padding: 5px;
   }

  h1{font-size: 50px;} 
  h2{font-size: 42px;} 
  h3{font-size: 25px;} 
  h4{font-size: 25px;} 
  h5{font-size: 25px;} 
  h6{font-size: 25px;} 


